# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# all files due to size of firmware
*

# Except README.md, data, edited scripts and .gitignore itself
!README.md
!ByteData.txt
!ProxSpace/ProxSpace/pm3/proxmark3/client/luascripts/hf_legic_clone_workingHall.lua
!hf_legic_clone_workingHall.lua
!.gitignore